future
emoji
lxml
wget
gtts
beautifulsoup4
requests
python-telegram-bot==13.11
sqlalchemy==1.3.23
psycopg2-binary
feedparser
faker
hachoir
pykeyboard
pynewtonmath
aiofiles
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow
CurrencyConverter
googletrans==4.0.0-rc1
google-trans-new==1.1.9
jikanpy
speedtest-cli
coffeehouse
regex
bleach
emoji
lxml==4.6.5
Wikipedia
gtts
requests
python-telegram-bot==13.11
SQLAlchemy==1.4.35
pykeyboard
aiofiles
psutil
aiohttp==3.8.1
Pillow==9.0.1
pendulum  
google_images_download
googletrans==4.0.0-rc1
google-trans-new==1.1.9 
regex
bleach
markdown2
telethon==1.24.0
telegraph
cachetools
ujson
Pyrogram==1.4.0
alphabet_detector
apscheduler
motor
asyncio
pymongo
cloudscraper
bs4
jikanpy
bing_image_downloader
python-arq
envparse
gpytranslate
opencv-python-headless==4.5.5.62
pyYAML>=5.1.2 
ffmpeg-python
pytimeparse
base58 
dnspython
youtube_dl==2021.12.17 
yt-dlp 
youtube-search
wget 
speedtest-cli
psycopg2-binary
multicolorcaptcha
pyrate-limiter 
git+https://github.com/python-telegram-bot/ptbcontrib.git 
pykeyboard
wikipedia
markdown2
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
pyrogram==1.0.7
PyDictionary
asyncio
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
tzlocal
pendulum
fuzzysearch
img2pdf
multicolorcaptcha
gitpython
cloudmersive_virus_api_client
chromedriver
hurry.filesize
PyYAML
humanize
python-rapidjson
covid
